.ig-section-container {
  margin-top: 140px;
  margin-bottom: 140px;
}
.ig-text-container {
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  user-select: none;
}

.ig-subtitle {
  font-size: 22px;
  color: rgb(66, 64, 64);
  margin: 10px 0px  15px 0px;
  letter-spacing: 4px;
}

.ig-title {
  font-size: 60px;
  margin: 10px 0px;
  font-weight: 100;
  letter-spacing: 4px;
 }
 
.ig-photos-container {
  margin-top: 100px;

}