.image-gallery-image {
  min-width: 1920px;
  min-height: 1080px;
}

.header {
  position: relative;
}

.carousel-container{
  position: relative;
}

.text-carousel{
  position: absolute;
  z-index: 810;
  font-family:'Roboto', sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-shadow: black 1px 1px 2px;
}