.nav {
  width: 100%;
  height: 100px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  color: white;
  background: linear-gradient(to bottom,  rgb(53, 53, 53), rgba(255,255,255,0));
  
}

.main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 70px;
  margin-left: 35px;
  margin-top: 35px;
  text-shadow: black 1px 1px 2px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100%;
  cursor: pointer; 
  user-select: none;
  margin-top: 35px;
  font-size: 20px;
}

.img-menu {
  width: 35px;
  height: 35px;
  margin: 5px; 
}

.separator {
  border-left: 1px solid rgb(255, 255, 255);
  height: 100%;
  width: 2px;
  border-radius: 10px;
}

.main-account {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer; 
  height: 100%;
  user-select: none;
  margin-right: 35px;
}

.nav-control {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  text-shadow: black 1px 1px 2px;
  }

.separator-small {
  border-left: 1px solid rgb(255, 251, 251);
  height: 35%;
  width: 2px;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
.icon-down {
  margin-left: 6px;
  width: 18px;
  height: 18px;
}

.collapsible-menu-button {
  display: none;
}

.menu-shown {
  display: block;
  position: relative;
  padding: 30px;
}

.menu-hidden {
  display: none;
}

@media screen and (max-width:1023px){
  .main-text {
    font-size: xx-large;
  }

  .collapsible-menu-button {
    display: block;
    margin-right: 25px;
    min-width: 35px;
    min-height: 35px;
  }

  .main-account, .separator {
    display: none;
  }

  .main-menu {
    flex-direction: column;
  }

}